<%= link_to "ログアウト", logout_path, method: :delete %>

<h1>写真一覧</h1>

<%= link_to "写真を画面にアップロード", new_photo_image_path %>
<div id="grid">
<ul>
<% @image.each do |image| %>
   <% if image.filename.present? then %>
     <li>
     <div id="image">
     <p><%= image.filename %></p>
     <%= image_tag('/assets/' + image.filename, :size => '150x150') %>
     </div>
     </li>
   <% end %>
<% end %>
</ul>
</div>