<%= link_to "ログイン", root_path %>

<h1>画像一覧表示</h1>
<div id="grid">
<ul>
<% @image.each do |image| %>
   <% if image.filename.present? then %>
     <li>
     <div id="image">
     <p><%= image.filename %></p>
     <%= image_tag('/assets/' + image.filename, :size => '150x150') %>
     </div>
     </li>
   <% end %>
<% end %>
</ul>
</div>